{% extends 'web/layout.html' %}
{% load static %}
{% load sass_tags %}
{% block style %}
<link rel="stylesheet" href="{% sass_src 'scss/form_styles.scss' %}">
{% endblock %}
{% block body %}
    <div class="signup_body">
        <div class="signup_cont bx_s">
            <div class="form_title">
                <span>Register as a doctor!</span>
            </div>
            <form action="{% url 'doc_signup' %}" method="post">
            {%csrf_token %}
                <div style="padding: 0;">
                    <div class="input_form">
                        <label for="doc_fname">First Name:</label>
                        {{ form.doc_fname }}
                    </div>
                    <div class="input_form">
                        <label for="doc_lname">Last Name:</label>
                        {{ form.doc_lname }}
                    </div>
                    <div class="input_form">
                        {% if emessage %}
                        
                            <div id="email_div" class="wrong">
                                <label for="email">Email:</label>
                                {{ form.email }}
                                <h6 id="email_message">{{emessage}}</h6>
                            </div>
                        {% else %}
                            <div>
                                <label for="email">Email:</label>
                                {{ form.email }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="input_form">
                        <label for="phone">Phone:</label>
                        {{ form.phone }}
                    </div>
                    <div class="input_form">
                        {% if umessage %}
                            <div id="username_div" class="wrong">
                                <label for="username">Username:</label>
                                {{ form.username }}
                                <h6 id="username_message">{{umessage}}</h6>
                            </div>
                        {% else %}
                        <div>
                            <label for="username">Username:</label>
                            {{ form.username }}
                        </div>
                        {% endif %}

                        {% if pmessage %}
                            <div id="password_div" class="wrong">
                                <label for="password">Password:</label>
                                {{ form.password }}
                            </div>
                            <div id="confirmation_div" class="wrong">
                                <label for="password2">Confirm Password:</label>
                                {{ form.password2 }}
                                <h6 id="password_message">{{pmessage}}</h6>
                            </div>
                        {% else %}
                            <div >
                                <label for="password">Password:</label>
                                {{ form.password }}
                            </div>
                            <div >
                                <label for="password2">Confirm Password:</label>
                                {{ form.password2 }}
                            </div>
                        {% endif %}
                    </div>

                    <br>
                    <div class="submit_btn">
                        <input type="submit">
                    </div>          
                    
                </div>
            </form>
        </div>
    </div> 

    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}