{% extends 'web/layout.html' %}
{% load static %}
{% block body %}
    <div class="web_container">
        
        <div class="indx_txt_cont">
            <span class="big_text">Si necesitas un doctor aqui lo encontraras!</span>
        </div>

        <div class="icons_cont">
            <div class="icon i_bx_s"><img src="{% static 'images/doctorlogo.png' %}" alt=""></div>
            <div class="index_search_cont">
                <span class="index_go_span">Encuentra un doctor</span>
                <div id="index_speciality_disp"></div>
                <input type="submit" value="Go!" class="index_go_btn"></input>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/index.js' %}"></script>
    <script type="text/babel" src="{% static 'js/indexreact.js' %}"></script>

{% endblock %}