{% extends 'web/layout.html' %}
{% load sass_tags %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% sass_src 'scss/index.scss' %}">
{% endblock %}
{% block body %}
    <div class="web_container">
        <div class="icons_cont">
            <div class="icon i_bx_s"><img src="{% static 'images/doctorlogo.png' %}" alt=""></div>
        </div>
        <div class="indexText">
            <div><p>Encuentra el doctor que buscas rapidamente!</p></div>
        </div>
        <div class="searchDiv">  
                <div id="indx_search_cont" class="indx_search_cont"></div>
        </div>
    </div>

    <script type="text/babel" src="{% static 'js/indexreact.js' %}"></script>

{% endblock %}