{% extends 'web/layout.html' %}
{% load static %}
{% load sass_tags %}
{% block style %}
    <link rel="stylesheet" href="{% sass_src 'scss/profile.scss' %}">
{% endblock %}
{% block body %}
    <div class="profile_container">
        <div class="doc_info_1">
            <div class="image_div">
                <img src="{{doctor.image}}" alt="">
            </div>
            <div class="info_div">
                <h2>{{doctor.name}}</h2> 
                <div class="aligment">
                    <div class="aligment_div" >
                        <div class="specialities">
                            {% for s in doctor.specialities %}
                                <span>{{s}}</span>
                            {% endfor %}
                        </div>
                        <div class="cities">
                            {% for c in doctor.cities%}
                                <div class="city">{{c}}<div class='pin'></div></div>
                            {% endfor %}                        
                        </div>                          
                    </div>
                  
                </div>               
                <hr>
                <div class="info">
                    <div class="contact">  
                        <div id="date_btn_cont"></div> 
                        <div style="display: flex; gap: 10px;">
                            <div class="number">&#9990; {{doctor.number}}</div>
                            <div class="chat"><a href="https://wa.me/{{doctor.number}}"><img src="{% static 'images/whatsapp-logo-icon.webp' %}" height="40px">Whatsapp</a></div>
                        </div> 
                        
                    </div>
                        
                </div>
            </div>
            </div>
        <div class="doc_info_2">
            <div class="doc_info_left">
                {% if ens %}
                <div class="ensurances_div">
                    <h2>Seguros</h2>
                    <hr>
                    <div class="ensurances">
                        {% for e in ens %}
                            {% if e.logo %}
                                <div class="ensurance" title="{{e.name}}"><img src="{{e.logo}}" height="50px"><span>{{e.name}}</span></div>
                            {% else %}
                                <div class="ensurance" title="{{e.name}}"><h4>{{e.name}}</h4></div>
                            {% endif %}
                        {% endfor %}                        
                    </div>
                </div>      
                {% endif %}

                <div class="description_div">
                    <div><h2>Descripcion del doctor</h2><hr></div>
                    <div class="desc"><p id="doc_description">{{doctor.description}}</p></div>

                </div>   
       
            </div>
            <div class="doc_info_right">
                    <h2>Clinicas</h2>
                    <hr>
                    <div class="clinics">
                        {% for c in clinics %}
                        <div class="clinic">
                            <div style="display: flex; gap: 5px;"><img src="{% static 'images/clinic_icon.png' %}" height="18px"></img><h3>{{c.name}} </h3></div>
                            <span>{{c.phone}}</span>
                            {% if c.map %}
                                <iframe src="{{c.map}}" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            {% endif %}                            
                        </div>

                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
    {% if docDates %}
        <script src="{% static 'dist/doctorProfile.bundle.js' %}"></script>
    {% endif %}
{% endblock %}