{% extends 'web/layout.html' %}
{% block body %}
{% load static %}
{% load sass_tags %}
{% block style %}
<link rel="stylesheet" href="{% sass_src 'scss/form_styles.scss' %}">
{% endblock %}

{% if message %}
    <h1>{{message}}</h1>

    <form action="{% url 'signin' %}" method="post">
        {% csrf_token %}
        <input type="text" name="user">
        <input type="password" name="password" >
        <input type="submit">
    </form>
{% else %}
    <form action="{% url 'signin' %}" method="post">
        {% csrf_token %}
        <input type="text" name="user">
        <input type="password" name="password" >
        <input type="submit">
    </form>
{% endif %}
<br>
<h4>Dont have an account?</h4><a href="{% url 'signup' %}"><h3>Sign up!</h3></a><br>
<h4>Are you a doctor?</h4><a href="{% url 'doc_signup' %}"><h3>Sign up!</h3></a>
{% endblock %}