{% extends 'web/layout.html' %}
{% load static %}
{% load sass_tags %}
{% block style %}
    <link rel="stylesheet" href="{% sass_src 'scss/myprofile.scss' %}">
{% endblock %}
{% block body %}

    <div class="container">
        <div class="profile_picture"><img src="{{u.profile_picture}}" ><h2>{{user.username.capitalize}}</h2></div>

        <div>
            <div class="butrtons">
                <div>
                    <button id="mydatesbtn">My dates <img src="static\images\date_icon.png" alt=""></button>
                    <!-- <button id="favdoctorsbtn">Fav doctors <img src="static\images\doclike_icon.png" alt=""></button> -->
                </div>
                <div>
                    <a class="logout_btn" href="{% url 'logout'%}"> Log out</a>
                </div>
            </div>
        </div>   
    </div>
    <div id="mydates" ></div>     
    <div id="favdoctors"></div>  
    <script type="text/babel" src="{% static 'js/addensurance.js' %}"></script>
    <script type="text/babel" src="{% static 'js/mydates.js' %}"></script>
    <script type="text/babel" src="{% static 'js/favdoctors.js' %}"></script>
{% endblock %}