.body_container {
  width: 100%;
  background-color: #fdfdfd; }
  .body_container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    padding: 40px 0px 50px 0px;
    border-radius: 10px;
    gap: 30px; }
    .body_container .container h4 {
      color: #0c0c68; }
    .body_container .container .profile_picture {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px auto;
      gap: 10px; }
      .body_container .container .profile_picture img {
        height: 100px;
        border-radius: 100px; }
    .body_container .container .options_container {
      width: 90%;
      gap: 3%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .body_container .container .options_container .link_title {
        display: flex;
        align-items: center;
        gap: 5px; }
        .body_container .container .options_container .link_title svg {
          display: block;
          height: 20px;
          position: relative;
          top: -2px; }
      .body_container .container .options_container a {
        width: 40%;
        min-width: 320px; }
        .body_container .container .options_container a .link_cont {
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.142);
          border: 2px solid #b3b3b3;
          background-color: white;
          border-radius: 5px;
          margin-top: 6%;
          height: 80px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          letter-spacing: 0.5px; }
        .body_container .container .options_container a div:hover {
          background-color: rgba(205, 233, 255, 0.565); }
    .body_container .container .down_btns {
      margin-top: 30px;
      display: flex;
      gap: 15px; }
      .body_container .container .down_btns a {
        padding: 15px 30px;
        border-radius: 5px; }
      .body_container .container .down_btns .lo_btn {
        background-color: #000098;
        color: white; }
      .body_container .container .down_btns .lo_btn:hover {
        background-color: navy; }

.info_body {
  width: 100%;
  background-color: #fdfdfd;
  padding: 30px 0px; }
  .info_body .info_container {
    display: flex;
    justify-content: center;
    gap: 80px;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 0px 10px; }
    .info_body .info_container .profile_list {
      min-width: 160px; }
      .info_body .info_container .profile_list ul {
        list-style: none; }
        .info_body .info_container .profile_list ul li {
          padding: 25px 10px;
          letter-spacing: 0.5px; }
        .info_body .info_container .profile_list ul .selected_list {
          border-bottom: 2px solid navy; }
        .info_body .info_container .profile_list ul li:hover {
          background-color: #f8f8f8; }
    .info_body .info_container .profile_form_body {
      width: 100%; }
      .info_body .info_container .profile_form_body .profile_form_content {
        max-width: 620px;
        margin-top: 30px; }
        .info_body .info_container .profile_form_body .profile_form_content .display_data_div {
          padding: 20px 0px;
          display: flex;
          gap: 25%;
          width: 100%;
          border-top: 1px solid #b3b3b3; }
          .info_body .info_container .profile_form_body .profile_form_content .display_data_div p {
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis; }
          .info_body .info_container .profile_form_body .profile_form_content .display_data_div a {
            color: #0c87ce; }

.confirm_remove {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(5px);
  background-color: rgba(117, 117, 117, 0.65);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }
  .confirm_remove .accept {
    padding: 12px 45px; }
  .confirm_remove .cancel {
    padding: 12px 45px; }
  .confirm_remove .confirm_remove_div {
    padding: 10px 10px 20px 10px;
    position: absolute;
    width: clamp(300px, 90%, 500px);
    background-color: white;
    border-radius: 10px; }
    .confirm_remove .confirm_remove_div form {
      width: 100%; }
  .confirm_remove .cr_info {
    margin-bottom: 15px; }
    .confirm_remove .cr_info img {
      height: 100px;
      width: 100px; }

.close_div {
  display: flex;
  width: 100%;
  justify-content: end !important; }
  .close_div div {
    padding: 0px; }
  .close_div button {
    padding: 5px 5px 0px 0px; }

.recent_doctors {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.626);
  padding-top: 15px; }
  .recent_doctors hr {
    margin-top: 10px; }
  .recent_doctors .doctors_container {
    padding: 25px 15px;
    gap: 15px; }
    .recent_doctors .doctors_container .doctor {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.151);
      padding: 10px 15px;
      border-radius: 10px;
      width: 90%; }
      .recent_doctors .doctors_container .doctor a {
        white-space: nowrap; }
      .recent_doctors .doctors_container .doctor div {
        align-items: center;
        display: flex; }
      .recent_doctors .doctors_container .doctor img {
        height: 90px;
        width: 90px;
        margin-right: 15px;
        border-radius: 70px; }
      .recent_doctors .doctors_container .doctor .btns_div {
        display: flex;
        flex-wrap: wrap;
        justify-content: end; }
        .recent_doctors .doctors_container .doctor .btns_div .profile_link {
          padding: 9px 15px;
          background-color: navy;
          color: white;
          border-radius: 5px; }
        .recent_doctors .doctors_container .doctor .btns_div .delete_btn {
          padding: 9px 15px;
          background-color: red;
          color: white;
          border-radius: 5px; }

.recent_doctors_div, .mydates {
  width: 60%;
  max-width: 900px;
  margin: auto; }

#mydates {
  background-color: rgba(255, 255, 255, 0.626);
  padding-top: 1px;
  width: 95%;
  padding: 0px 2.5%; }

.mydates hr {
  margin-bottom: 20px; }

.mydates .dates_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  padding: 0px 15px; }

.mydates .date {
  width: 90%;
  margin-left: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.172);
  padding: 8px 15px;
  background-color: rgba(194, 205, 255, 0.13); }
  .mydates .date div {
    width: 100%;
    margin-bottom: 10px; }
  .mydates .date span {
    margin-bottom: 5px;
    width: 100%; }

.no_dates {
  justify-content: center;
  gap: 10px;
  min-height: 40dvh;
  width: 100%; }
  .no_dates h1 {
    text-align: center; }
  .no_dates div {
    gap: 25px; }
    .no_dates div a {
      background-color: navy;
      color: white;
      padding: 12.5px 50px;
      border-radius: 5px; }

.title p {
  margin: 10px 0px; }

.ttl {
  display: inline-block;
  margin: auto; }
  .ttl hr {
    width: 85%;
    border: none;
    height: 4px;
    margin-left: 10px; }

.bigger {
  font-size: 26px;
  text-align: center; }

.big {
  font-size: 22px; }

.med {
  font-size: 18px;
  text-align: center; }

.small {
  font-size: 14px; }

.active_div {
  background-color: white; }

.unactive_div {
  background-color: whitesmoke; }

.active_hr {
  background-color: #158223; }

.enmark {
  border: none;
  height: 4px;
  width: 60px;
  background-color: rgba(5, 7, 107, 0.755); }

.absolutly, .favdoctors_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.353);
  z-index: 1040; }
  .absolutly ul, .favdoctors_container ul {
    list-style: none; }

.cont, .favdoctors_container .favdoctors {
  background-color: white;
  width: clamp(320px, 100%, 400px);
  padding: 10px;
  border-radius: 5px; }
  .cont .change, .favdoctors_container .favdoctors .change {
    height: 30px; }
  .cont form, .favdoctors_container .favdoctors form {
    padding: 15px;
    margin-top: 5px;
    gap: 15px; }
  .cont button[type=submit], .favdoctors_container .favdoctors button[type=submit] {
    margin: auto; }

.cancel {
  background-color: rgba(222, 0, 0, 0.887);
  margin: auto;
  padding: 8px 30px;
  color: white;
  border-radius: 5px; }

.cancel:hover {
  background-color: #cb2f2f; }

.accept {
  background-color: #00007d; }

.col, .info_body .info_container .profile_form_body .profile_form_content, .confirm_remove .confirm_remove_div form, .confirm_remove .cr_info, .recent_doctors .doctors_container, .mydates .date div, .no_dates, .no_dates div, .cont form, .favdoctors_container .favdoctors form {
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (max-width: 900px) {
  .display_data_div {
    gap: 15% !important; }
  .profile_list {
    display: none; }
  .profile_form_body {
    width: 90% !important;
    max-width: 620px;
    margin: auto; }
  .doctors_container {
    padding: 25px 5px !important; }
  .recent_doctors_div, .mydates {
    width: 95% !important; }
  .title {
    padding: 0px 30px !important; }
    .title h1 {
      margin-left: 10px; }
  .ttl {
    padding: 0px 30px !important; }
  .mydates {
    width: 100%;
    max-width: 600px; } }

@media (max-width: 560px) {
  .big {
    font-size: 20px; }
  .small {
    font-size: 12px; }
  .container {
    gap: 10px !important;
    padding: 10px 0px !important; }
  .link_cont {
    gap: 15px !important; }
  .title {
    padding: 0px 5px !important; }
  .doctor {
    width: 95% !important;
    flex-wrap: wrap; }
    .doctor img {
      height: 80px !important;
      width: 80px !important; }
  .btns_div {
    flex-direction: column; }
  .dates_container {
    padding: 0px 5px !important; }
  .date {
    margin: 0px !important; } }

/*# sourceMappingURL=myprofile.css.map */