.searches {
  display: flex;
  justify-content: center;
  min-height: 90dvh;
  width: 100%;
  background-color: white;
  box-shadow: 1px 15px 15px rgba(0, 0, 0, 0.156);
  margin: auto; }
  .searches .searches_container {
    display: inherit;
    width: 100%;
    justify-content: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px clamp(10px, 3%, 45px); }
    .searches .searches_container .filters {
      z-index: 0;
      display: flex;
      flex-direction: column;
      position: sticky;
      width: 115%;
      min-width: 280px;
      top: 40px;
      background-color: white;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      max-width: 400px; }
      .searches .searches_container .filters .filters_title {
        background: linear-gradient(225deg, #596c7f 0%, #170b6ee5 100%);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        height: 15px;
        border-radius: 10px 10px 40px 0px;
        z-index: 4; }
        .searches .searches_container .filters .filters_title .change div {
          background-color: white; }
      .searches .searches_container .filters .filters_container {
        height: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
        margin-top: 10px; }
        .searches .searches_container .filters .filters_container hr {
          border: none;
          height: 1px;
          color: linear-gradient(225deg, #596c7f27 0%, #170b6e2c 100%);
          background: linear-gradient(225deg, #596c7f2c 0%, #170b6e2c 100%);
          width: 100%; }
        .searches .searches_container .filters .filters_container .filters_container_child {
          width: 100%; }
          .searches .searches_container .filters .filters_container .filters_container_child hr {
            background-color: white !important;
            height: 1px !important; }
          .searches .searches_container .filters .filters_container .filters_container_child div {
            width: 90%;
            margin: 20px auto; }
            .searches .searches_container .filters .filters_container .filters_container_child div .filter {
              display: flex;
              justify-content: center;
              position: relative;
              letter-spacing: 0.7px;
              width: 100%;
              margin: 5px 0px; }
              .searches .searches_container .filters .filters_container .filters_container_child div .filter .listDiv {
                margin: 32px 0px !important;
                position: absolute;
                width: 100%;
                overflow-y: scroll;
                border-radius: 0px 0px 0px 5px;
                animation-name: display_list;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
                overflow-x: hidden;
                z-index: 100;
                box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.04); }
                .searches .searches_container .filters .filters_container .filters_container_child div .filter .listDiv ul {
                  width: 100%; }
                  .searches .searches_container .filters .filters_container .filters_container_child div .filter .listDiv ul li {
                    width: 100%;
                    list-style: none;
                    background-color: white;
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.508); }
                    .searches .searches_container .filters .filters_container .filters_container_child div .filter .listDiv ul li button {
                      padding: 20px 0px 20px 7px;
                      width: 100%; }
                  .searches .searches_container .filters .filters_container .filters_container_child div .filter .listDiv ul .noResultList {
                    padding: 20px 0px 20px 75px;
                    overflow-y: hidden; }

@keyframes display_list {
  0% {
    max-height: 10px; }
  100% {
    max-height: 300px; } }
              .searches .searches_container .filters .filters_container .filters_container_child div .filter .closedListDiv {
                display: none; }
              .searches .searches_container .filters .filters_container .filters_container_child div .filter input[type=text] {
                width: 100%;
                height: 15px;
                padding: 10px;
                border: none;
                border-radius: 5px;
                box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
                text-align: center;
                font-size: 16px;
                z-index: 1;
                letter-spacing: 0.7px;
                color: #000472ae;
                font-weight: 600; }
              .searches .searches_container .filters .filters_container .filters_container_child div .filter input[type=text]:focus {
                outline: none; }
              .searches .searches_container .filters .filters_container .filters_container_child div .filter input[type=text]::placeholder {
                color: #000472ae;
                font-weight: 600; }
              .searches .searches_container .filters .filters_container .filters_container_child div .filter input[type=text]:focus::placeholder {
                color: white; }
    .searches .searches_container .doctors {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      background-color: white;
      border-radius: 15px;
      width: 85%;
      overflow-y: scroll;
      bottom: 10px; }
      .searches .searches_container .doctors .doctor_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 25px;
        padding: 2px; }
        .searches .searches_container .doctors .doctor_container .doctor_render {
          width: clamp(320px, 90%, 1200px);
          margin: 0px auto; }
        .searches .searches_container .doctors .doctor_container .doctor {
          display: flex;
          flex-direction: column;
          padding: clamp(20px, 3%, 20px);
          border-radius: 15px;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.156);
          width: 94%;
          line-height: 1.5;
          gap: 30px;
          margin-bottom: 3%; }
          .searches .searches_container .doctors .doctor_container .doctor .doc_info {
            display: flex;
            gap: 15px; }
            .searches .searches_container .doctors .doctor_container .doctor .doc_info .doc_img div {
              height: 120px;
              width: 120px; }
              .searches .searches_container .doctors .doctor_container .doctor .doc_info .doc_img div img {
                height: 100%;
                width: 100%;
                border-radius: 100px;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }
            .searches .searches_container .doctors .doctor_container .doctor .doc_info .doc_txt .name_ensurances {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 5px; }
              .searches .searches_container .doctors .doctor_container .doctor .doc_info .doc_txt .name_ensurances .ensurances {
                display: flex;
                flex-wrap: wrap;
                gap: 0px 10px;
                max-width: 55%; }
                .searches .searches_container .doctors .doctor_container .doctor .doc_info .doc_txt .name_ensurances .ensurances h4 {
                  color: #23237e; }
                .searches .searches_container .doctors .doctor_container .doctor .doc_info .doc_txt .name_ensurances .ensurances img {
                  height: 50px; }
            .searches .searches_container .doctors .doctor_container .doctor .doc_info .doc_txt .specialities {
              display: flex;
              gap: 0px 5px; }
            .searches .searches_container .doctors .doctor_container .doctor .doc_info .doc_txt .locations {
              display: flex;
              width: 100%;
              gap: 2px 10px;
              flex-wrap: wrap; }
              .searches .searches_container .doctors .doctor_container .doctor .doc_info .doc_txt .locations .clinics {
                display: flex;
                gap: 8px;
                flex-wrap: wrap; }
            .searches .searches_container .doctors .doctor_container .doctor .doc_info .doc_txt .city {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: rgba(205, 205, 205, 0.285);
              padding: 4px 8px;
              border-radius: 15px;
              gap: 5px;
              font-size: 14px; }
            .searches .searches_container .doctors .doctor_container .doctor .doc_info .doc_txt .clinic {
              color: #23237e;
              font-size: 14px;
              font-weight: 600;
              display: flex;
              align-items: center;
              gap: 5px; }
              .searches .searches_container .doctors .doctor_container .doctor .doc_info .doc_txt .clinic img {
                height: 12.5px;
                position: relative;
                bottom: 1.5px; }
            .searches .searches_container .doctors .doctor_container .doctor .doc_info .doc_txt span {
              font-size: 14px;
              font-weight: 600;
              color: #717171; }
            .searches .searches_container .doctors .doctor_container .doctor .doc_info .doc_txt p {
              max-height: 90px;
              -webkit-line-clamp: 4;
              line-clamp: 4;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical; }
            .searches .searches_container .doctors .doctor_container .doctor .doc_info .doc_txt hr {
              margin: 7px 0px;
              border: none;
              height: 3px;
              color: linear-gradient(225deg, #596c7f 0%, #170b6ee5 100%);
              background: linear-gradient(225deg, #596c7f 0%, #170b6ee5 100%); }
        .searches .searches_container .doctors .doctor_container .pagination_div {
          display: flex;
          width: 300px;
          margin: 0px auto 10px auto;
          font-weight: 600; }
          .searches .searches_container .doctors .doctor_container .pagination_div span {
            color: #585858;
            flex: 50%;
            text-align: center;
            position: relative;
            z-index: 1;
            top: 4px; }
          .searches .searches_container .doctors .doctor_container .pagination_div button {
            color: navy;
            flex: 25%;
            align-items: center; }
            .searches .searches_container .doctors .doctor_container .pagination_div button span {
              color: navy;
              position: static; }
            .searches .searches_container .doctors .doctor_container .pagination_div button .arrow {
              position: relative;
              top: 4px;
              margin-left: 5px;
              margin-bottom: 2px;
              border: solid #23237e;
              border-width: 0 2px 2px 0;
              display: inline-block;
              padding: 7px; }
            .searches .searches_container .doctors .doctor_container .pagination_div button .right {
              transform: rotate(-45deg);
              -webkit-transform: rotate(-45deg); }
            .searches .searches_container .doctors .doctor_container .pagination_div button .left {
              transform: rotate(135deg);
              -webkit-transform: rotate(135deg); }
      .searches .searches_container .doctors .no_result_div {
        display: flex;
        height: 100%;
        width: 100%; }
        .searches .searches_container .doctors .no_result_div div {
          margin: auto;
          color: #505050;
          text-align: center; }
    .searches .searches_container .doctors::-webkit-scrollbar {
      display: none; }
    .searches .searches_container .doc_btn {
      width: 100%;
      display: flex;
      justify-content: center; }
      .searches .searches_container .doc_btn a {
        text-align: center;
        margin: auto;
        padding: 8px 0px;
        max-width: 400px;
        width: 100%;
        color: white;
        background: linear-gradient(225deg, #596c7f 0%, #170b6ee5 100%);
        border-radius: 20px; }
      .searches .searches_container .doc_btn button:hover {
        background: linear-gradient(225deg, rgba(132, 158, 180, 0.841) 0%, rgba(36, 21, 133, 0.831) 100%); }

.pin {
  width: 12.5px;
  height: 12.5px;
  background-color: #23237e;
  border-radius: 60px 60px 0px 60px;
  position: relative;
  transform: rotate(45deg);
  top: -3px; }

.pin::after {
  content: "";
  width: 6.25px;
  height: 6.25px;
  background: white;
  position: absolute;
  left: 26%;
  top: 26%;
  border-radius: 60px; }

.filters_data {
  justify-content: center;
  align-items: center;
  display: flex;
  position: sticky;
  margin: 0px auto;
  letter-spacing: 0.7px;
  color: #959595;
  font-weight: 600;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.132);
  padding: 5px 2.5%;
  width: 75%;
  max-width: 1000px;
  min-height: 35px;
  background-color: rgba(159, 205, 255, 0.211);
  backdrop-filter: blur(50px); }

@media (max-width: 900px) {
  .searches {
    height: 90dvh; }
  .searches_container {
    padding: 0px !important;
    flex-direction: column;
    gap: 10px !important; }
    .searches_container .mobile_filter_div {
      background-color: rgba(194, 205, 255, 0.13);
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.04);
      padding: 5px 5%;
      gap: 10px; }
      .searches_container .mobile_filter_div button {
        padding: 15px 5%;
        border: 1px solid #c2c2c2;
        border-radius: 15px;
        background-color: white; }
    .searches_container .filters_background {
      top: 0;
      height: 100%;
      width: 100% !important;
      background-color: black;
      position: absolute !important;
      z-index: 2 !important;
      background-color: rgba(0, 0, 0, 0.307);
      backdrop-filter: blur(4px); }
      .searches_container .filters_background .filters {
        width: 90%;
        margin: auto auto;
        top: 90px;
        max-width: 700px; }
        .searches_container .filters_background .filters input[type=text] {
          padding: 12.5px !important; }
        .searches_container .filters_background .filters .filters_title {
          justify-content: space-between;
          border-radius: 10px 10px 0px 0px; }
    .searches_container .doctors {
      width: 100% !important;
      height: 100% !important; }
      .searches_container .doctors .doctor_container {
        margin: auto;
        height: 98%; }
        .searches_container .doctors .doctor_container .doctor {
          margin-bottom: 40px !important; } }

@media (max-width: 500px) {
  .filters_data {
    font-size: 14px !important; }
  .doctors {
    width: 100% !important; }
    .doctors .doctor_container {
      margin: auto !important;
      width: clamp(320px, 100%, 450px) !important;
      padding: 0px !important; }
      .doctors .doctor_container .doctor {
        min-width: 95% !important;
        padding: 8% 3% !important;
        gap: 20px !important;
        margin-bottom: 35px !important; }
        .doctors .doctor_container .doctor .doc_info {
          flex-direction: column; }
          .doctors .doctor_container .doctor .doc_info .doc_img {
            display: flex;
            justify-content: center;
            margin-bottom: 5px; }
          .doctors .doctor_container .doctor .doc_info .doc_txt {
            text-align: center;
            margin-bottom: 5px; }
            .doctors .doctor_container .doctor .doc_info .doc_txt .name_ensurances {
              flex-direction: column !important; }
              .doctors .doctor_container .doctor .doc_info .doc_txt .name_ensurances img {
                height: 20px !important; }
            .doctors .doctor_container .doctor .doc_info .doc_txt .locations {
              justify-content: center; }
              .doctors .doctor_container .doctor .doc_info .doc_txt .locations .clinics {
                justify-content: center; }
            .doctors .doctor_container .doctor .doc_info .doc_txt h2 {
              margin: 5px; } }

/*# sourceMappingURL=search.css.map */