.searches {
  display: flex;
  justify-content: center;
  min-height: 90dvh;
  width: 100%;
  background-color: white;
  box-shadow: 1px 15px 15px rgba(0, 0, 0, 0.156);
  margin: auto; }
  .searches .searches_container {
    display: inherit;
    width: 100%;
    max-width: 1100px;
    justify-content: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px clamp(10px, 6%, 120px) 20px 10px; }
    .searches .searches_container .filters {
      display: flex;
      flex-direction: column;
      width: 280px;
      background-color: white;
      border-radius: 10px; }
      .searches .searches_container .filters .filters_title {
        background: linear-gradient(225deg, #596c7f 0%, #170b6ee5 100%);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;
        height: 15px;
        border-radius: 10px 10px 40px 0px;
        z-index: 4; }
        .searches .searches_container .filters .filters_title .change div {
          background-color: white !important; }
      .searches .searches_container .filters .filters_container {
        height: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
        margin-top: 10px; }
        .searches .searches_container .filters .filters_container hr {
          border: none;
          height: 1px;
          color: linear-gradient(225deg, #596c7f27 0%, #170b6e2c 100%);
          background: linear-gradient(225deg, #596c7f2c 0%, #170b6e2c 100%);
          width: 100%; }
        .searches .searches_container .filters .filters_container .filters_container_child {
          width: 100%; }
          .searches .searches_container .filters .filters_container .filters_container_child hr {
            background-color: white !important;
            height: 1px !important; }
          .searches .searches_container .filters .filters_container .filters_container_child div {
            width: 90%;
            margin: 20px auto; }
            .searches .searches_container .filters .filters_container .filters_container_child div .filter {
              display: flex;
              justify-content: center;
              position: relative;
              letter-spacing: 0.7px;
              width: 100%;
              margin: 5px 0px; }
              .searches .searches_container .filters .filters_container .filters_container_child div .filter .listDiv {
                margin: 32px 0px !important;
                position: absolute;
                width: 100%;
                overflow-y: scroll;
                overflow-x: hidden;
                border-radius: 0px 0px 0px 5px;
                animation-name: display_list;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
                z-index: 100;
                box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.04); }
                .searches .searches_container .filters .filters_container .filters_container_child div .filter .listDiv ul {
                  width: 100%; }
                  .searches .searches_container .filters .filters_container .filters_container_child div .filter .listDiv ul li {
                    width: 100%;
                    list-style: none;
                    background-color: white;
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.508); }
                    .searches .searches_container .filters .filters_container .filters_container_child div .filter .listDiv ul li button {
                      padding: 20px 0px 20px 7px;
                      width: 100%; }
                  .searches .searches_container .filters .filters_container .filters_container_child div .filter .listDiv ul .noResultList {
                    padding: 20px 0px 20px 75px;
                    overflow-y: hidden; }

@keyframes display_list {
  0% {
    max-height: 10px; }
  100% {
    max-height: 300px; } }
              .searches .searches_container .filters .filters_container .filters_container_child div .filter .closedListDiv {
                display: none; }
              .searches .searches_container .filters .filters_container .filters_container_child div .filter input[type=text] {
                width: 100%;
                height: 15px;
                padding: 10px 10px;
                border: 1px solid #d4d4d4;
                border-radius: 5px;
                text-align: center;
                font-size: 16px;
                z-index: 1;
                letter-spacing: 0.7px;
                color: #000472ae;
                font-weight: 600; }
              .searches .searches_container .filters .filters_container .filters_container_child div .filter input[type=text]:focus {
                outline: none; }
              .searches .searches_container .filters .filters_container .filters_container_child div .filter input[type=text]::placeholder {
                color: #000472ae;
                font-weight: 600; }
              .searches .searches_container .filters .filters_container .filters_container_child div .filter input[type=text]:focus::placeholder {
                color: white; }
    .searches .searches_container .doctor_render {
      background-color: #23237e;
      width: 100%; }
      .searches .searches_container .doctor_render h1 {
        font-size: 32px;
        color: black; }
    .searches .searches_container .doc_btn {
      width: 100%;
      display: flex;
      justify-content: center; }
      .searches .searches_container .doc_btn a, .searches .searches_container .doc_btn button {
        text-align: center;
        margin: auto;
        padding: 8px 0px;
        max-width: 400px;
        width: 100%;
        color: white;
        background: linear-gradient(225deg, #596c7f 0%, #170b6ee5 100%);
        border-radius: 20px; }
      .searches .searches_container .doc_btn button:hover {
        background: linear-gradient(225deg, rgba(132, 158, 180, 0.841) 0%, rgba(36, 21, 133, 0.831) 100%); }

.top {
  top: 0;
  overflow-y: hidden;
  max-height: 100dvh; }

.pin {
  width: 12.5px;
  height: 12.5px;
  background-color: #23237e;
  border-radius: 60px 60px 0px 60px;
  position: relative;
  transform: rotate(45deg);
  top: -3px; }

.pin::after {
  content: "";
  width: 6.25px;
  height: 6.25px;
  background: white;
  position: absolute;
  left: 26%;
  top: 26%;
  border-radius: 60px; }

.filters_data {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0px auto;
  letter-spacing: 0.7px;
  color: #959595;
  font-weight: 600;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.132);
  padding: 5px 2.5%;
  width: 75%;
  max-width: 1000px;
  min-height: 35px;
  background-color: rgba(159, 205, 255, 0.211);
  backdrop-filter: blur(50px); }

@media (max-width: 1400px) {
  .searches {
    display: block;
    height: 100%; }
  .searches_container {
    max-width: none !important;
    margin: auto;
    padding: 0px !important;
    flex-direction: column;
    gap: 10px !important;
    background-color: white; }
    .searches_container .mobile_filter_div {
      position: sticky;
      top: 0px;
      width: 90%;
      background-color: #f7f8ff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.04);
      padding: 5px 5%;
      gap: 10px; }
      .searches_container .mobile_filter_div button {
        padding: 15px 5%;
        border: 1px solid #c2c2c2;
        border-radius: 15px;
        background-color: white; }
    .searches_container .filters_background {
      padding-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-y: scroll;
      height: 100dvh;
      width: 100% !important;
      background-color: black;
      position: fixed !important;
      z-index: 2 !important;
      background-color: rgba(0, 0, 0, 0.307);
      backdrop-filter: blur(4px); }
      .searches_container .filters_background .filters {
        width: 90%;
        max-width: 700px;
        position: static; }
        .searches_container .filters_background .filters .filters_title {
          justify-content: space-between;
          border-radius: 10px 10px 0px 0px; }
    .searches_container .doctors {
      width: 100% !important;
      height: 100% !important;
      max-width: 1000px !important;
      margin: auto; }
      .searches_container .doctors .doctor_container {
        margin: auto;
        height: 98%; }
        .searches_container .doctors .doctor_container .doctor {
          margin-bottom: 40px !important; } }

@media (max-width: 500px) {
  .filters_data {
    font-size: 14px !important; }
  .doctors {
    width: 100% !important; }
    .doctors .doctor_container {
      margin: auto !important;
      width: clamp(320px, 100%, 450px) !important;
      padding: 0px !important; }
      .doctors .doctor_container .doctor {
        min-width: 95% !important;
        padding: 8% 3% !important;
        gap: 20px !important;
        margin-bottom: 35px !important; }
        .doctors .doctor_container .doctor .doc_info {
          flex-direction: column; }
          .doctors .doctor_container .doctor .doc_info .doc_img {
            display: flex;
            justify-content: center;
            margin-bottom: 5px; }
          .doctors .doctor_container .doctor .doc_info .doc_txt {
            text-align: center;
            margin-bottom: 5px; }
            .doctors .doctor_container .doctor .doc_info .doc_txt .name_ensurances {
              flex-direction: column !important; }
            .doctors .doctor_container .doctor .doc_info .doc_txt .locations {
              justify-content: center; }
              .doctors .doctor_container .doctor .doc_info .doc_txt .locations .clinics {
                justify-content: center; }
            .doctors .doctor_container .doctor .doc_info .doc_txt h2 {
              margin: 5px; } }

/*# sourceMappingURL=search.css.map */