* {
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  color: black; }

body {
  font-family: sans-serif;
  font-weight: 500;
  background-color: rgba(194, 205, 255, 0.13); }

.show {
  display: block; }

.hide {
  display: none; }

button {
  all: unset;
  cursor: pointer;
  text-align: center; }

input[type="submit"]:hover {
  cursor: pointer; }

.bx_s {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15); }

.inv {
  display: none; }

.arrow {
  margin-left: 5px;
  margin-bottom: 2px;
  border: solid #23237e;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px; }

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg); }

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg); }

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

.svg-icon {
  width: 1.5em;
  height: 1.5em; }

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #23237e; }

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 2; }

.col, #nav_bar #signin_div .nav_bar_txt .profile_list_div .contents {
  display: flex;
  flex-direction: column; }

#nav_bar {
  display: flex;
  align-items: center;
  height: 8dvh;
  min-height: 70px; }
  #nav_bar .logo_container {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 0px auto;
    height: 100%; }
  #nav_bar #signin_div {
    margin: 0px auto;
    z-index: 1000;
    height: 100%; }
    #nav_bar #signin_div .nav_bar_txt {
      display: flex;
      align-items: center;
      position: relative;
      height: 100%; }
      #nav_bar #signin_div .nav_bar_txt #profile_list {
        height: 100%; }
        #nav_bar #signin_div .nav_bar_txt #profile_list .child {
          height: 100%;
          display: flex;
          align-items: center;
          letter-spacing: 0.4px; }
      #nav_bar #signin_div .nav_bar_txt .profile_list_div {
        position: absolute;
        right: 1px;
        margin-top: 370px; }
        #nav_bar #signin_div .nav_bar_txt .profile_list_div .contents {
          background-color: white !important;
          border-radius: 5px;
          box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.259);
          width: 200px;
          list-style: none;
          padding: 10px 0px;
          animation-name: fade_in;
          animation-duration: 0.5s;
          animation-fill-mode: forwards; }
          #nav_bar #signin_div .nav_bar_txt .profile_list_div .contents hr {
            margin: 5px 0px;
            border: none;
            height: 1px;
            background-color: #ededed; }
          #nav_bar #signin_div .nav_bar_txt .profile_list_div .contents a {
            padding: 15px;
            letter-spacing: 0.5px; }
          #nav_bar #signin_div .nav_bar_txt .profile_list_div .contents a:hover {
            background-color: #f4f4f4; }
          #nav_bar #signin_div .nav_bar_txt .profile_list_div .contents .close_nav {
            display: flex;
            justify-content: space-between;
            padding: 5px 20px; }
            #nav_bar #signin_div .nav_bar_txt .profile_list_div .contents .close_nav .profile_icon {
              display: flex;
              align-items: center;
              gap: 5px; }
        #nav_bar #signin_div .nav_bar_txt .profile_list_div .contents:before {
          content: '';
          position: absolute;
          top: -18px;
          left: 135px;
          border: 10px solid transparent;
          border-bottom-color: white; }
      #nav_bar #signin_div .nav_bar_txt button, #nav_bar #signin_div .nav_bar_txt a {
        height: 100%;
        padding: 0px 15px;
        color: #23237e;
        display: flex;
        align-items: center;
        gap: 5px; }
        #nav_bar #signin_div .nav_bar_txt button span, #nav_bar #signin_div .nav_bar_txt a span {
          position: relative;
          top: 2px; }
      #nav_bar #signin_div .nav_bar_txt a img {
        border-radius: 50px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.282); }
      #nav_bar #signin_div .nav_bar_txt button:hover, #nav_bar #signin_div .nav_bar_txt a:hover {
        background-color: #e8e8e8; }
  #nav_bar .nav_name a span {
    color: #060648;
    font-size: 30px;
    margin: 10px; }
  #nav_bar .nav_logo {
    height: 45px;
    width: 45px; }
    #nav_bar .nav_logo img {
      height: 100%;
      filter: brightness(75%); }

.search_bar {
  width: 95%;
  margin: auto; }
  .search_bar input {
    width: 98%;
    height: 30px;
    padding: 1%; }
  .search_bar ul {
    position: absolute;
    background-color: white;
    width: 95%;
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px 0px;
    list-style: none; }
    .search_bar ul li {
      padding: 15px; }

@keyframes fade_in {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

@keyframes display_list {
  0% {
    max-height: 0px; }
  100% {
    max-height: 300px; } }

.selected {
  background-color: #e8e8e8; }

.bar1, .bar2, .bar3 {
  width: 30px !important;
  height: 5px !important;
  background-color: #333 !important;
  margin: 6px 0 !important;
  transition: 0.4s !important; }

.change {
  cursor: pointer !important;
  display: block !important; }

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg) !important; }

/* Fade out the second bar */
.change .bar2 {
  opacity: 0 !important; }

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg) !important; }

@media (max-width: 900px) {
  .nav_bar_txt {
    position: static !important; }
  .profile_list_div {
    height: 100%;
    width: 100%;
    top: 0px;
    margin-top: 0px !important; }
    .profile_list_div .contents {
      height: 100%;
      width: 100% !important; }
    .profile_list_div button, .profile_list_div a {
      height: auto !important; }
  .index_go_btn {
    width: 20% !important; }
  .big_text {
    font-size: 44px; }
  .btn_list {
    height: 100%; } }

@media (max-width: 560px) {
  .nav_logo {
    height: 35px !important;
    width: 35px !important; }
  .nav_name span {
    font-size: 24px !important;
    margin: 5px !important; } }

.alertContent {
  position: fixed;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 300px;
  height: 100px;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; }
  .alertContent div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; }
  .alertContent img {
    height: 35px;
    width: 35px; }

/*# sourceMappingURL=style.css.map */