$bg_color:rgba(226, 231, 255, 0.13);
.web_container{
    letter-spacing: 0.6px;
    h1, h2, h3, h4, h5, h6{
        font-weight: 100;
    }
    p{
        letter-spacing: 1px
    }
    section{
        @extend .col;
        align-items: center;
        text-align: center;
    }

    .sec_1{
        margin-top: 30px;
        gap: 60px;
        position: relative;
        height: 50dvh;
        justify-content: center;

        .searchbar_container{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            padding: 20px 0px;
            border: solid 2px black;
            border-radius: 10px;
            background-color: white;
            width: clamp(550px, 80%, 900px);
            h2{
                font-size: 22px;
            }

            .indx_search_cont{
                width: 90%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 15px;
                

            }

        }
        .bg_fade{
            height: 320px;
            position: absolute;
            z-index: -1;
            width: 100%;
            background-color: #05052e;
            bottom: -170px;
        }
    }

    .sec_2{
        padding-top: 5dvh;
        background-color: #05052e;
        color: white;
        padding-bottom: 8dvh;
        // border-radius: 0px 0px 100% 100%/ 200px;
        h2{
            margin-bottom: 25px;
            font-weight: 100;
            letter-spacing: 1px;
        }
        p{
            width: clamp(320px, 90%, 750px);
            font-size: 20px;
            letter-spacing: 1px;
            text-align: center;
        }
        .bg_fade{
            height: 100px;
            position: absolute;
            z-index: -1;
            width: 100%;
            background-color: #05052e;
            bottom: -26.5dvh;
            border-radius: 50%/50px;
        }

    }

    .sec_3{
       margin-top: 15dvh; 
       h2{
        margin-bottom: 10px;
        font-size: 26px
       }
       .benefits_container{
            @extend .col;
            align-items: center;
            width: 95%;
            max-width: 1000px;
            gap: 25dvh;
            .benefits{
                height: 50dvh;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 50%;
                flex-wrap: wrap;
                flex: 1;
                gap: 70px;
                .text_container{
                    @extend .col;
                    align-items: center;
                    gap: 50px;
                    flex: 1;

                }
                .showoff_image{
                    img{
                        height: 220px;
                        width: 220px;
                        padding: 10px;
                        border-radius: 10px;
                        background-color: #080847;
                        margin-bottom: 10px;                    
                    }

                }         
                .text{
                    text-align: left;
                    p{
                        font-size: 14px;
                    }
                }
                .f{
                    order: 2;
                }
                .s{
                    order: 1;
                }
                .icons_cont{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: start;
                    width: 100%;
                    .icon{
                        @extend .col;
                        align-items: center;
                        margin: 10px auto;
                        img{
                            border-radius: 100%;  
                            height: 70px;
                            width: 70px;  
                        }
                        span{
                            text-align: center;
                            width: 80%;
                            font-weight: 600;
                        }
                        
                    }
                }
            }
            .aligment{
                @extend .col;
                align-items: center;
                position: relative;
                padding-bottom: 80px;
                // gap: 40px;
                a{
                    bottom: 0px;
                    position: absolute;
                }
            }
        }

    }
}

.link_btn{
    min-width: 100px;
    padding: 15px 50px;
    border-radius: 5px;
    background-color: #0c0c68;
    color: white;
}
.link_btn:hover{
    padding: 15px 52.5px;
    background-color: #101082;
}

.col{
    display: flex;
    flex-direction: column;
}

@media(max-width:900px){
    .showoff_image{
        width: 100%;
    }
    .text_container{
        max-width: 700px;
    }
    
    .f{
        order: 1 !important;
    }
    .s{
        order: 2 !important;
    }
    .text{
        text-align: center !important;
    }
}
@media(max-width:1000px){
    .benefits{
        align-items: normal !important;
    }
    .icons_cont{
        justify-content: center !important;
        img{
            height: 60px !important;
            width: 60px !important;  
        }
    }
}
@media(max-width:650px){

    .benefits_container{
        gap: 10dvh !important;
    }
    .benefits{
        height: auto !important;
    }

    .icons_cont{
        gap: 5px !important;
    }
    .showoff_image{
        width: 100%;
        img{
            height: 175px !important;
            width: 175px !important;            
        }

    }

    .search_bar{
        ul{
            li{
                font-size: 18px !important;
            }
        }
    }
}
@media(max-width: 576px){
    .web_container{
        h1{
            font-size: 28px !important;
        }
        .sec_2{
            p{
                font-size: 18px;    
            }
        }
        .sec_3{
            h2{
                font-size: 24px;
            }
        }
    }        

    .searchbar_container{
        width: 95% !important;
        padding: 20px 5px;
    }



}