// RED FOR THE DESIRED TEXT
.wrong{
    display: flex;
    max-width: 300px;
    align-items: center;      
    input{
        box-shadow: 0px 0px 4px red;
    }
    h6{
        color: red;
    }
}

// MAKES THE SPACE FOR THE BODY OF THE DOCUMENT
.signup_body{
    display: flex;
    justify-content: center;
    padding: 25px;
}

// CREATES THE FORM CONTAINER
.signup_cont{
    width: 90%;
    max-width: 900px;
    padding: 5% 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;

        input{
            height: 30px;
            width: 300px;
            border-radius: 5px;
            border: 0px;
            padding: 5px;
            font-size: 16px;
            font-weight: 600;
            ::placeholder{
                color: rgba(190, 114, 114, 0.156);
                }
            }  

        input[type=submit]{
            height: 40px;
            margin-top: 10px;
            width: auto;
            padding: 0px 15px;
        }

    }
    a{
        color: rgb(19, 19, 194);
    }
}

// SETS THE QUALITIES OF THE TITLE
.form_title{
    padding: 35px;
    text-align: center;
    span{
        font-size: 50px;
        padding: 0px 15px;
    }
}

// STRUCTURE FOR INPUT CONTAINERS
.input_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    li{
        list-style: none;
    }
    div{
        max-width: 300px;
        padding: 22px 0px ;
    }
    label{
        display: flex;
        align-items: left;
        width: 300px;
        font-size: 24px;
        color: rgb(19, 19, 194);
    }
    input{
        ::placeholder{
            font-size: 24px !important;
        }
    }
    a{
        font-size: 14px !important;
    }
}

.mx_w{
    max-width: 300px;
}

// SUBMIT BUTTON 
input[type=submit]{
    padding: 10px;
    margin: 5px auto ;
    border-radius: 10px;
    background: linear-gradient(rgb(52, 63, 148) 0%, rgb(35, 35, 126) 100%);
    display: block;
    color: white;
    text-align: center;
}

input[type=submit]:hover{
    background-color: rgb(68, 68, 255);
    transition: 0.8s;
}



@media(max-width:600px){
    .form_title{
        padding: 0px;
    }
    .signup_body{
        width: 100%;
    }
    .signup_cont{
        width: 100%;
    }

    .input_form{
        div{
            padding: 0px;
        }
    }
    .upc{
        padding-bottom: 37px!important;
    }
}