.container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    min-height: 80dvh;
    margin-bottom: 5rem;
    h1, h2, h3, h4, h5, h6{
        font-weight: 100;
    }
    .filters{
        @extend .col;
        gap: 30px;
        width: 19rem;
        background-color: white;
        border-radius: 10px; 
        letter-spacing: 0.7px;
        padding:0px 1rem;
        h3{
            color: #101079;
        }
        .sb_cont{
            .search_bar{
                margin-top: 10px;
                position: relative;
                input{
                    height: 40px;
                    border: 0px;
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    font-size: 16px;
                    padding-left: 10px;
                    outline: none;
                }
                input:focus{
                    border-radius: 5px 5px 0px 0px;
                }
                ul{
                    width: 101%;
                    z-index: 1000;
                    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.145)
                }
            }
        }
        .gender_cont{
            @extend .col;
            gap: 20px;

            div{
                display: flex;
                gap: 10px;
                margin-left: 5px;
            }
        }
        .date_sistem_div{
            @extend .col;
            gap: 20px;
            padding-bottom: 2rem;
            div{
                display: flex;
                gap: 10px;
                margin-left: 5px;
            }
            .disabled_checkbox{
                color: gray;
            }            
        }
        input[type="checkbox"]{
            appearance: none;
            -webkit-appearance: none;
            border: 2px solid #ccc;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
            transition: background-color 0.2s, border-color 0.2s;
        }
        input[type="checkbox"]:checked {
            background-color: #3768ef;
            border: 3px solid #ccc;
            // border-color: #cecece;
          }

        hr{
            color: #000000;

        }
    }            


    .doctor_render{
        width: 750px;
        margin: 0px 1.5rem;
        letter-spacing: 0.7px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.055);
        .doctor{
            min-height: 150px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.102);
            padding: 25px 0px;
            margin: 10px 0px;
            @extend .col;
            gap: 20px;
            align-items: center;
            justify-content: space-between;
            hr{
                position: relative;
            }
            .content{
                display: flex;
                width: 100%;
            }
            .section_1{
                height: 100%;
                
            }    
            .section_2{
                @extend .col;
                gap: 10px;
                width: 100%;
                .presentation{
                    display: flex;
                    // align-items: center;
                    gap: 10px;
                    width: 100%;
                    .name_spec{
                        width: 100%;
                        .name{
                            display: flex;
                            position: relative;
                            flex-wrap: wrap;
                            gap: 5px 15px;
                            h3{
                                margin-right: auto;
                            }

                            .ensurances{
                                position: relative;
                                min-width: 45px;
                                h5{
                                    padding-right: 10px;
                                    color: #3273db;
                                }
                                img{
                                    height: 45px;
                                    width: 45px;
                                    
                                    z-index: 1;
                                    position: absolute;
                                    top: -20px;
                                }
                            }
                            a:hover{
                                color: #101079;
                            }
                        }
                        hr{
                            margin: 5px 0px;
                        }
                        .info_1{
                            display: flex;
                            flex-wrap: wrap;
                            gap: 5px ;
                            font-weight: 600;
                            position: relative;
                            .specialities{
                                display: flex;
                                flex-wrap: wrap;
                                gap: 10px;
                                margin-right: auto;
                                font-size: 14px;
                            }
                            .rating_container{
                                position: relative;
                                display: flex;
                                align-items: center;
                                font-weight: 100;
                                padding-right: 10px;

                                .rate_content{
                                    display: flex;
                                    gap: 5px;
                                    font-size: 12px;
                                    .count{
                                        color: rgb(95, 95, 95);
                                    }
                                }
                                a:hover{
                                    border-bottom: 1px solid black;
                                }
                            }
                        }

                    }
                }
                .info_2{
                    @extend .col;
                    gap: 2.5px;
                    font-size: 14px;
                    .camera_icon{
                        fill: black;
                      }
                      .in_person_icon{
                        position: relative;
                        bottom: 2px;
                      }

                    div{
                        display: flex;
                        align-items: center;
                        gap: 4px;
                    }
                }
            }   
            .profile_button{
                border: 1px solid #101079;
                background-color: #0c0c5f;
                border-radius: 5px;
                height: 35px;
                width: 95%;
                max-width: 400px;
                color: white;
                // font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                letter-spacing: 1px;
            }     
            .profile_button:hover{
                background-color: #0c0c5fd8;
            }
        }
        .pagination{
            margin-top: 20px;
            display: flex;
            justify-content: center;
            div{
                flex: 1; 
                display: flex;
                align-items: center;
                p{
                    font-size: 12px;
                }
                i{
                    position: relative;
                    bottom: -1.5px;
                    left: -5px;
                }
              }
              
            div:nth-child(2) {
                flex: 0.5; 
                justify-content: center;
            }
            div:nth-child(1){
                justify-content: end
            }
        }

        .no_results{
            @extend .col;
            justify-content: center;
            align-items: center;
            height: 100%;
            img{
                height: 100px;
            }
        }
    }
 

    .filter_btn_container{
        position: sticky;
        top: 0; /* or bottom, left, right depending on direction */
        z-index: 1; /* optional, to control overlap */
        background-color: white;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
        width: 98%;
        max-width: 720px;
        margin: 0px auto;
        margin-bottom: 0.5rem;
        padding: 5px 1%;
        button{
            color: #101079;
            padding: 1rem 5rem;
            border-radius: 5px;
            margin-left: 0.5rem;
            display: flex;
            align-items: center;
            gap: 5px;
            img{
                height: 25px;
            }
        }
        button:hover{
            background-color: #f5f5ffb9;
        }
    }
}

.col{
    display: flex;
    flex-direction: column;
}
.off{
    display: none;
}

@keyframes display_filters{
    0% {left: -500px;}
    100% {left: 0px;}
}

@media (max-width: 1200px){
    .container{
        flex-direction: column;
        margin: 0px !important;
    }
    .doctor_render{
        width: 95% !important;
        max-width: 750px;
        min-height: 750px !important;
        margin: 0px auto !important;
        .no_results{
            min-height: 750px;
            }
    }
    .filters{
        position: fixed;
        left: 0px;
        top: 0px;
        overflow-y: scroll;
        box-shadow: 1px 6px 40px rgba(0, 0, 0, 0.4);
        z-index: 1000;
        gap: 20px !important;
        height: 100%;
        min-width: 458px;
        border-radius: 0px !important;
        animation-name: display_filters;
        animation-duration: 0.5s;
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }
        .search_bar{
            ul{
                width: 100% !important;
            }
        }
    }
}
@media (max-width: 767px){
    .doctor{
        h4{
            font-size: 14px;
        }
        .content{
            img{
                height: 75px;
            }
            h3{
                font-size: 18px;
            }
            .specialities{
                font-size: 14px;
            }
            .info{
                font-size: 12px !important;
            }
        }
        .profile_button{
            height: 30px !important;
            font-size: 13px;
        }
    }
    .filter_btn_container{
        margin: 0px !important;
    }
}

@media (max-width: 481px){
    .info_2{
        font-size: 12px !important;
    }
    .filters{
        width: 94% !important;
        padding: 0px 3% !important;
        min-width: 0px !important;
    }
}

@media (max-width: 381px){
    .ensurances{
        img{
            display: none !important;
        }
    }
}