*{
    margin: 0px;
    padding: 0px;
    // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}   

$mobileWidth: 320px;

// INDEPENDENTS
a{
  text-decoration: none;  
  color: black;
}

body{
    font-family: sans-serif; 
    font-weight: 500;
    background-color: rgba(194, 205, 255, 0.13);
}

.show{
    display: block;
}

.hide{
    display: none;
}

button {
    all: unset;
    cursor: pointer;
    text-align: center;
  }
  
input[type="submit"]:hover{
    cursor: pointer;
}

.bx_s{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15); 
 }

.inv{
    display: none;
}

// ARROWS

.arrow {
    margin-left: 5px;
    margin-bottom: 2px;
    border: solid #23237e;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 7px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.svg-icon {
    width: 1.5em;
    height: 1.5em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #23237e;

  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 2;
  }

.col{
    display: flex;
    flex-direction: column;
}

// NAV BAR

#nav_bar{
    display: flex;
    align-items: center;
    height: 8dvh;   
    min-height: 70px;
    .logo_container{
        display: flex; 
        align-items: center; 
        font-weight: 600;
        margin: 0px auto;
        height: 100%;
    }

    #signin_div{
        margin: 0px auto;
        z-index: 1000;
        height: 100%;
        .nav_bar_txt{
            display: flex;
            align-items: center;
            position: relative;
            height: 100%;
            #profile_list{
                height: 100%;
                .child{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.4px;
                    
                }
            }
            .profile_list_div{
                position: absolute;
                right: 1px;
                margin-top: 320px;
                .contents{
                    background-color: white !important;
                    border-radius: 5px;
                    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.259);
                    width: 200px;
                    list-style: none;
                    @extend .col;
                    padding: 10px 0px;
                    animation-name: fade_in;
                    animation-duration: 0.5s;
                    animation-fill-mode: forwards;
                    hr{
                        margin: 5px 0px;
                        border: none;
                        height: 1px;
                        background-color: rgb(237, 237, 237);
                    }
                    a{
                        padding: 15px;
                        letter-spacing: 0.5px;
                    }
                    
                    a:hover{
                        background-color: rgb(244, 244, 244);
                    }  
                        
                    .close_nav{
                        display: flex;
                        justify-content: space-between;
                        padding: 5px 20px;
                        .profile_icon{
                            display: flex;
                            align-items: center;
                            gap: 5px;
                        }
                    }

                }

                .contents:before{
                    content: '';
                    position: absolute;
                    top: -18px;
                    left: 135px;
                    border: 10px solid transparent;
                    border-bottom-color: rgb(255, 255, 255);
                }
            }
            button, a{
                height: 100%;
                padding: 0px 15px;
                color: #23237e;
                display: flex;
                align-items: center;
                gap: 5px;
                span{
                    position: relative;
                    top: 2px;
                }
            }
            a{
                
                img{
                    border-radius: 50px;
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.282);
                }
            }
            button:hover, a:hover{
                background-color: rgb(232, 232, 232);
            }
        }
    }



    .nav_name{
        a{
            span{
                color: rgb(6, 6, 72);
                font-size: 30px; 
                margin: 10px;
            }

        }
    }

    .nav_logo{
        height: 45px;
        width: 45px;
        img{
            height: 100%;
            filter: brightness(75%);
        }

    }
}


@keyframes fade_in{
    0% {opacity: 0;}
    100%{opacity: 100%;}
}

.selected{
    background-color: rgb(232, 232, 232);

}

// AUTHENTICATION CONTENT

.signin_div{
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    top: 0px;
    left: 0px;
    background: rgba(189, 189, 189, 0.5);
    z-index: 10000;
    backdrop-filter: blur(5px);
    animation-name: show_signin;
    animation-duration: 0.8s;
    .signin{
        width: clamp(300px, 85dvw, 450px );
        background-color: white;
        border-radius: 15px;
        padding: 25px;
        margin: auto;
        animation-name: lowing_div;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
        .close{
            display: flex;
            justify-content: flex-end;
        }
        h1{
            text-align: center;
        }
        a{
            font-size: 15px;
            color: darkblue;
            font-weight: 600;
        }
        .input_form{
            margin: auto;
            width: 60%;
            margin-top: 20px;
            font-size: 22px;
            color: rgb(6, 6, 72);
            label{
                font-weight: 600;
            }
            input{
                height: 30px;
                font-size: 18px;
                width: 100%;
                border: none;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.267);
                border-radius: 5px;
                padding: 5px;
            }
            input::placeholder{
                font-size: 16px;
            }
        }
        .submit_btn{
            width: 225px;
            margin: auto;
            margin-top: 40px;
            input{
                border: none;
                margin: auto;
                padding: 10px;
                border-radius: 15px;
                background-color: #23237e;
                color: white;
                font-size: 20px;
                font-weight: 600;  
                width: 100%;              
            }

        }
    }

}



.messages{
    display: flex;
    justify-content: center;
    span{
        list-style: none;
        color: red;
        font-weight: 600;
        text-align: center;
        font-size: 15px;
    }
}





.password_reset_div{
    margin: 20px;
    width: clamp(320px, 400px, 400px);
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(251, 251, 251);
    padding: 25px;
    margin-top: 20px;
    ul{
        li{
            list-style: none;
            color: red;
            font-weight: 600;
            text-align: center;
            font-size: 15px;
        }
    }
    p{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        flex-wrap: wrap;
        text-align: center;
        label{
            font-size: 22px;
            margin-right: 5px;
        }
        input{
            height: 4dvh;
            border-radius: 5px;
            width: clamp(250px, 10dvw, 300px);
            border: none;
            box-shadow: 1px 1px 5px rgba(6, 6, 6, 0.232);
            padding: 5px;
            font-size: 16px;
        }
        input[type=checkbox]{
            width: auto !important;
            height: auto !important;
        }

        button{
            padding: 15px;
            background-color: #23237e;
            color: white;
            border-radius: 15px;
            font-size: 18px;
        }
        a{
            font-size: 15px;
            color: darkblue;
            font-weight: 600;
        }
    }
}

.password_reset_done_div{
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    button[type=submit]{
        padding: 15px;
        background-color: #23237e;
        color: white;
        border-radius: 15px;
        font-size: 18px;
    }
}

// OPEN SIGNIN DIV ANIMATIONS
@keyframes lowing_div{
    0% {margin-top: -50dvh;}
    100% {margin-top: 25dvh;}
}

@keyframes show_signin{
    0% {background: rgba(255, 255, 255, 0); backdrop-filter: blur(0px);}
    100% {background: rgba(189, 189, 189, 0.5); backdrop-filter: blur(5px);}
}

.bar1, .bar2, .bar3 {
    width: 30px !important;
    height: 5px !important;
    background-color: #333 !important;
    margin: 6px 0 !important;
    transition: 0.4s!important;
  }
  
  .change{
    cursor: pointer !important;
    display: block !important;
  }

  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg) !important;
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0 !important; }
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg) !important;
  }


@media(max-width:900px){
    
    .input_form{
        width: 100% !important;
    }

    .nav_bar_txt{
        position: static !important;
    }
    .profile_list_div{
        height: 100%;
        width: 100%;
        top: 0px;
        margin-top: 0px !important;
        .contents{
            height: 100%;
            width: 100% !important;
        }
        button, a{
            height: auto !important;
        }
    }
    

    .index_go_btn{
        width: 20% !important;
    }
    .big_text{
        font-size: 44px;
    }



    .btn_list{
        height: 100%;
    }


}

@media(max-width: 560px){
    .nav_logo{
        height: 35px !important;
        width: 35px !important;
    }
    .nav_name{
        span{
            font-size: 24px !important;    
            margin: 5px !important;    
        }
        
    }
}