.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  min-height: 80dvh;
  margin-bottom: 5rem; }
  .container h1, .container h2, .container h3, .container h4, .container h5, .container h6 {
    font-weight: 100; }
  .container .filters {
    gap: 30px;
    width: 19rem;
    background-color: white;
    border-radius: 10px;
    letter-spacing: 0.7px;
    padding: 0px 1rem; }
    .container .filters h3 {
      color: #101079; }
    .container .filters .sb_cont .search_bar {
      margin-top: 10px;
      position: relative; }
      .container .filters .sb_cont .search_bar input {
        height: 40px;
        border: 1px solid #c5c5c5;
        border-radius: 10px;
        font-size: 16px;
        padding-left: 4%;
        outline: none; }
      .container .filters .sb_cont .search_bar input:focus {
        border-radius: 10px 10px 0px 0px;
        border-bottom: none; }
      .container .filters .sb_cont .search_bar ul {
        width: 100%;
        z-index: 1000;
        box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.145);
        border: 1px solid #c5c5c5;
        border-top: none; }
    .container .filters .gender_cont {
      gap: 20px; }
      .container .filters .gender_cont div {
        display: flex;
        gap: 10px;
        margin-left: 5px; }
    .container .filters .date_sistem_div {
      gap: 20px;
      padding-bottom: 2rem; }
      .container .filters .date_sistem_div div {
        display: flex;
        gap: 10px;
        margin-left: 5px; }
      .container .filters .date_sistem_div .disabled_checkbox {
        color: gray; }
    .container .filters input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      border: 2px solid #ccc;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
      transition: background-color 0.2s, border-color 0.2s; }
    .container .filters input[type="checkbox"]:checked {
      background-color: #3768ef;
      border: 3px solid #ccc; }
    .container .filters hr {
      color: #000000; }
  .container .doctor_render {
    width: 750px;
    min-height: 60dvh;
    margin: 0px 1.5rem;
    letter-spacing: 0.7px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.055); }
    .container .doctor_render .doctor {
      min-height: 150px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.102);
      padding: 25px 0px;
      margin: 10px 0px;
      gap: 20px;
      align-items: center;
      justify-content: space-between; }
      .container .doctor_render .doctor hr {
        position: relative; }
      .container .doctor_render .doctor .content {
        display: flex;
        width: 100%; }
      .container .doctor_render .doctor .section_1 {
        height: 100%; }
      .container .doctor_render .doctor .section_2 {
        gap: 10px;
        width: 100%; }
        .container .doctor_render .doctor .section_2 .presentation {
          display: flex;
          gap: 10px;
          width: 100%; }
          .container .doctor_render .doctor .section_2 .presentation .name_spec {
            width: 100%; }
            .container .doctor_render .doctor .section_2 .presentation .name_spec .name {
              display: flex;
              position: relative;
              flex-wrap: wrap;
              gap: 5px 15px; }
              .container .doctor_render .doctor .section_2 .presentation .name_spec .name h3 {
                margin-right: auto; }
              .container .doctor_render .doctor .section_2 .presentation .name_spec .name .ensurances {
                position: relative;
                min-width: 45px; }
                .container .doctor_render .doctor .section_2 .presentation .name_spec .name .ensurances h5 {
                  padding-right: 10px;
                  color: #3273db; }
                .container .doctor_render .doctor .section_2 .presentation .name_spec .name .ensurances img {
                  height: 45px;
                  width: 45px;
                  z-index: 1;
                  position: absolute;
                  top: -20px; }
              .container .doctor_render .doctor .section_2 .presentation .name_spec .name a:hover {
                color: #101079; }
            .container .doctor_render .doctor .section_2 .presentation .name_spec hr {
              margin: 5px 0px; }
            .container .doctor_render .doctor .section_2 .presentation .name_spec .info_1 {
              display: flex;
              flex-wrap: wrap;
              gap: 5px;
              font-weight: 600;
              position: relative; }
              .container .doctor_render .doctor .section_2 .presentation .name_spec .info_1 .specialities {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin-right: auto;
                font-size: 14px; }
              .container .doctor_render .doctor .section_2 .presentation .name_spec .info_1 .rating_container {
                position: relative;
                display: flex;
                align-items: center;
                font-weight: 100;
                padding-right: 10px; }
                .container .doctor_render .doctor .section_2 .presentation .name_spec .info_1 .rating_container .rate_content {
                  display: flex;
                  gap: 5px;
                  font-size: 12px; }
                  .container .doctor_render .doctor .section_2 .presentation .name_spec .info_1 .rating_container .rate_content .count {
                    color: #5f5f5f; }
                .container .doctor_render .doctor .section_2 .presentation .name_spec .info_1 .rating_container a:hover {
                  border-bottom: 1px solid black; }
        .container .doctor_render .doctor .section_2 .info_2 {
          gap: 2.5px;
          font-size: 14px; }
          .container .doctor_render .doctor .section_2 .info_2 .camera_icon {
            fill: black; }
          .container .doctor_render .doctor .section_2 .info_2 .in_person_icon {
            position: relative;
            bottom: 2px; }
          .container .doctor_render .doctor .section_2 .info_2 div {
            display: flex;
            align-items: center;
            gap: 4px; }
      .container .doctor_render .doctor .profile_button {
        border: 1px solid #101079;
        background-color: #0c0c5f;
        border-radius: 5px;
        height: 35px;
        width: 95%;
        max-width: 400px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 1px; }
      .container .doctor_render .doctor .profile_button:hover {
        background-color: #0c0c5fd8; }
    .container .doctor_render .pagination {
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center; }
      .container .doctor_render .pagination div {
        flex: 1;
        display: flex;
        align-items: center; }
        .container .doctor_render .pagination div p {
          font-size: 12px; }
        .container .doctor_render .pagination div i {
          position: relative;
          bottom: -1.5px;
          left: -5px; }
      .container .doctor_render .pagination div:nth-child(2) {
        flex: 0.5;
        justify-content: center; }
      .container .doctor_render .pagination div:nth-child(1) {
        justify-content: end; }
    .container .doctor_render .no_results {
      justify-content: center;
      align-items: center;
      height: 100%; }
      .container .doctor_render .no_results img {
        height: 100px; }
  .container .filter_btn_container {
    position: sticky;
    top: 0;
    /* or bottom, left, right depending on direction */
    z-index: 1;
    /* optional, to control overlap */
    background-color: white;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    width: 98%;
    max-width: 720px;
    margin: 0px auto;
    margin-bottom: 0.5rem;
    padding: 5px 1%; }
    .container .filter_btn_container button {
      color: #101079;
      padding: 1rem 5rem;
      border-radius: 5px;
      margin-left: 0.5rem;
      display: flex;
      align-items: center;
      gap: 5px; }
      .container .filter_btn_container button img {
        height: 25px; }
    .container .filter_btn_container button:hover {
      background-color: #f5f5ffb9; }

.col, .container .filters, .container .filters .gender_cont, .container .filters .date_sistem_div, .container .doctor_render .doctor, .container .doctor_render .doctor .section_2, .container .doctor_render .doctor .section_2 .info_2, .container .doctor_render .no_results {
  display: flex;
  flex-direction: column; }

.off {
  display: none; }

@keyframes display_filters {
  0% {
    left: -500px; }
  100% {
    left: 0px; } }

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    margin: 0px !important; }
  .doctor_render {
    width: 95% !important;
    max-width: 750px;
    min-height: 750px !important;
    margin: 0px auto !important; }
  .filters {
    position: fixed;
    left: 0px;
    top: 0px;
    overflow-y: scroll;
    box-shadow: 1px 6px 40px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    gap: 20px !important;
    height: 100%;
    min-width: 458px;
    border-radius: 0px !important;
    animation-name: display_filters;
    animation-duration: 0.5s; }
    .filters header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px; }
    .filters .search_bar ul {
      width: 100% !important; } }

@media (max-width: 767px) {
  .doctor h4 {
    font-size: 14px; }
  .doctor .content img {
    height: 75px; }
  .doctor .content h3 {
    font-size: 18px; }
  .doctor .content .specialities {
    font-size: 14px; }
  .doctor .content .info {
    font-size: 12px !important; }
  .doctor .profile_button {
    height: 30px !important;
    font-size: 13px; }
  .filter_btn_container {
    margin: 0px !important; } }

@media (max-width: 481px) {
  .info_2 {
    font-size: 12px !important; }
  .filters {
    width: 94% !important;
    padding: 0px 3% !important;
    min-width: 0px !important; } }

@media (max-width: 381px) {
  .ensurances img {
    display: none !important; } }

/*# sourceMappingURL=search.css.map */