{% extends "web/layout.html" %}
{% load static %}
{% load sass_tags %}
{% block style %}
<link rel="stylesheet" href="{% sass_src 'scss/form_styles.scss' %}">
{% endblock %}
{% block body %}
<div class="sign_body">
    <div class="sign_cont bx_s">
        {% load i18n %}
        {% load allauth %}


        {% block content %}
        <div class="form_title">
            {% element h1 %}
                {% if token_fail %}
                    {% trans "Bad Token" %}
                {% else %}
                    {% trans "Change Password" %}
                {% endif %}
            {% endelement %}            
        </div>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                {% element p %}
                    {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
                {% endelement %}
            {% else %}
            <div class="form_inputs_container">

                {% element form method="post" action=action_url %}
                    {% slot body %}
                    <div class="dede">
                        {% csrf_token %}
                        {{ redirect_field }}
                        {% element fields form=form %}
                        {% endelement %}                        
                    </div>
       
                    {% endslot %}
                    {% slot actions %}
                        {% element button type="submit" name="action" %}
                            {% trans 'Change Password' %}
                        {% endelement %}
                    {% endslot %}
                {% endelement %}                
            </div>

            {% endif %}
        {% endblock content %}        
    </div>
</div>

{% endblock %}