{% extends 'web/layout.html' %}
{% load allauth i18n %}
{% load static %}
{% load sass_tags %}
{% block style %}
<link rel="stylesheet" href="{% sass_src 'scss/form_styles.scss' %}">
{% endblock %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block body %}
<div class="sign_body">
    <div class="sign_cont bx_s">
        {% block content %}
        <div class="form_title">
            {% element h1 %}
                {% trans "Change Password" %}
            {% endelement %}
        </div>

            <div class="form_inputs_container">
                {% url 'account_change_password' as action_url %}
                {% element form form=form method="post" action=action_url %}
                    {% slot body %}
                    <div class="dede">
                        {% csrf_token %}
                        {{ redirect_field }}
                        {% element fields form=form %}
                        {% endelement %}
                    </div>
                    {% endslot %}
                    {% slot actions %}
                        {% element button type="submit" %}
                            {% trans "Change Password" %}
                        {% endelement %}
                        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    {% endslot %}
                {% endelement %}                
            </div>

        {% endblock content %}            
    </div>

</div>

{% endblock %}